THIS .customCheckBox{
    width: 22px;
    height: 22px;
    border-radius: 0.25rem;
    margin-right: 8px;

}

.rowheading{
    font-size: 14px!important;
    font-family: "Ericsson Hilda Bold",Helvetica,Arial,sans-serif!important;
    color: #242424!important;
}